<header>
  <h1>Post List ({{screenSize}})</h1>
  <p class="count">Count: {{ (posts$ | async)!.length }}</p>
</header>
<!--  scrolling element -->
<section class="viewport" cdkVirtualScrollingElement >
  <!-- viewport  -->
  <cdk-virtual-scroll-viewport
                               [itemSize]="pageSize"
                               appPostVirtualScroll
                               [posts]="posts$ | async">
    <app-post-card
                   *cdkVirtualFor="let post of posts$ | async"
                   [post]="post"
                   cdkScrollable
                   [attr.data-hm-id]="post.id"></app-post-card>
  </cdk-virtual-scroll-viewport>
  <app-infinite-scroll
                       (endReached)="loadPosts()"></app-infinite-scroll>
</section>
